/**
 * Variables.
 */
$c-main: #108751;
$c-gray: #dcdcef;
$c-white: #ffffff;


/**
 * CSS Media Queries.
 *
 * Note: Using 832px (card width + margins) as desktop width to have a smooth transition between resolutions.
 *
 * Usage:
 * @include breakpoint('desktop') {
 *   color: green;
 * }
 */
$breakpoints: (
  'portrait': 680px,
  'tablet': 768px,
  'desktop': 832px
) !default;

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn 'No value could be retrieved from `#{$breakpoint}`. '
        + 'Available breakpoints are: #{map-keys($breakpoints)}.';
  }
}